[submodule "vendor/spoa"]
	path = vendor/spoa
	url = https://github.com/rvaser/spoa
[submodule "vendor/edlib"]
	path = vendor/edlib
	url = https://github.com/martinsos/edlib
[submodule "vendor/ram"]
	path = vendor/ram
	url = https://github.com/lbcb-sci/ram
[submodule "vendor/GenomeWorks"]
	path = vendor/GenomeWorks
	url = https://github.com/clara-parabricks/GenomeWorks
